@import variables

.article
    .articleHeader
        overflow: hidden
        font-size: font-size-small
        margin-bottom: 35px

        .title
            font-size: font-size-big
            margin-bottom: 5px
        .date
            margin-right: 10px
            float: left
        .author
            float: left

    .content
        margin-bottom: 60px
        line-height: 150%

.commentsLabel
    font-style: italic
    padding-bottom: 5px
    border-bottom: 1px dashed color-light-gray
    margin-bottom: 35px


ol.comments
    list-style: none
    li
        margin-bottom: 35px
        .author
            font-weight: bold
        .date
            margin: 5px 0 5px 0
            font-size: font-size-small
            color: color-text-gray

