@import common

.article
    .articleHeader
        overflow: hidden
        margin-bottom: 35px

        .title
            font-size: font-size-big
            margin-bottom: 5px
        .meta
            @extend .smallCaption
            div
                margin-right: 15px
                float: left

    .content
        margin-bottom: 60px
        line-height: 150%

.commentsLabel
    font-style: italic
    padding-bottom: 5px
    border-bottom: 1px dashed color-light-gray


ol.comments
    margin-top: 35px
    list-style: none
    li
        margin-bottom: 35px
        .author
            font-weight: bold
        .date
            margin: 5px 0 5px 0
            @extend .smallCaption

.noComments
    margin-top: 15px


#articleEdit
    display: block
    .inputField
        margin-bottom: 15px
        .label
            margin-bottom: 5px
        input
            width: 200px
        textarea
            width: 100%

