@import variables

.smallCaption
    font-size: font-size-small
    color: color-text-gray

.errorMessage
    color: color-text
    background: color-bg-error
    line-height: 2em
    vertical-align: middle
    margin: 10px
    padding: 0 10px 0 10px

.smallRef
    @extend .smallCaption
    margin-left: 20px
