@import common

html, body
    width: 100%
    height: 100%

html
    min-width: 1220px

body
    font: font-size font-face-default
    color: color-text
    background: white url(../images/body-bg.gif) repeat-y top center

#main_wrapper
    padding: 50px
    margin: 0 auto
    width: 1120px
    overflow: hidden

#main_header
    font-size: 200%
    padding-bottom: 40px

#main_header > a
    display: inline-block

#left_pane
    float: left
    width: 60%

#right_pane
    float: right
    width: 30%
    margin-right: 3%
    line-height: 150%

#right_pane > p
    padding: 10px 0

#right_pane > ol.links
    margin-top: 50px
    list-style: none

#right_pane > ol.links > li
    margin-bottom: 8px

a
    color: color-anchor
    border-bottom: 1px dashed #ae4410
    text-decoration: none

a:hover
    border-bottom-style: dotted

form
    input,
    select,
    textarea
        font: font-size font-face-default
        padding: 4px