// @author Marenin Alexander
// November 2012

extends layout

block content
	form#login(method='POST')
		.caption Enter your credentials
		input(name='login', type='text', placeholder='login')= login || ''
		br
		input(name='password', type='password', placeholder='password')
		br
		input(type='submit', value='Login'	)