html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.smallCaption,
.smallRef,
.smallRef,
.article .articleHeader .meta,
ol.comments li .date {
  font-size: 0.8em;
  color: #777;
}
.errorMessage {
  color: #555;
  background: #fdc;
  line-height: 2em;
  vertical-align: middle;
  margin: 10px;
  padding: 0 10px 0 10px;
}
.smallRef {
  margin-left: 20px;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  min-width: 1100px;
}
body {
  font: 14px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  color: #555;
  background: #fff url("../images/body-bg.gif") repeat-y top center;
}
#main_wrapper {
  padding: 50px;
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
}
#main_header {
  font-size: 200%;
  padding-bottom: 40px;
}
#main_header > a {
  display: inline-block;
}
#left_pane {
  float: left;
  width: 60%;
}
#right_pane {
  float: right;
  width: 30%;
  margin-right: 1%;
  line-height: 150%;
}
#right_pane > p {
  padding: 10px 0;
}
#right_pane > ol.links {
  margin-top: 50px;
  list-style: none;
}
#right_pane > ol.links > li {
  margin-bottom: 8px;
}
a {
  color: #fd6512;
  border-bottom: 1px dashed #ae4410;
  text-decoration: none;
}
a:hover {
  border-bottom-style: dotted;
}
form input,
form select,
form textarea {
  font: 14px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  padding: 4px;
}
.smallCaption,
.smallRef,
.article .articleHeader .meta,
ol.comments li .date {
  font-size: 0.8em;
  color: #777;
}
.errorMessage {
  color: #555;
  background: #fdc;
  line-height: 2em;
  vertical-align: middle;
  margin: 10px;
  padding: 0 10px 0 10px;
}
.smallRef {
  margin-left: 20px;
}
.article .articleHeader {
  overflow: hidden;
  margin-bottom: 20px;
}
.article .articleHeader .title {
  font-size: 2em;
  margin-bottom: 5px;
}
.article .articleHeader .meta div {
  margin-right: 15px;
  float: left;
}
.article .content {
  margin-bottom: 60px;
  line-height: 150%;
}
.commentsLabel {
  font-style: italic;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ccc;
}
ol.comments {
  margin-top: 35px;
  list-style: none;
}
ol.comments li {
  margin-bottom: 35px;
}
ol.comments li .author {
  font-weight: bold;
}
ol.comments li .date {
  margin: 5px 0 5px 0;
}
.noComments {
  margin-top: 15px;
}
#articleEdit {
  display: block;
}
#articleEdit .inputField {
  margin-bottom: 15px;
}
#articleEdit .inputField .label {
  margin-bottom: 5px;
}
#articleEdit .inputField input {
  width: 200px;
}
#articleEdit .inputField textarea {
  width: 100%;
}
pre code {
  display: block;
  padding: 0.5em;
  border-radius: 4px;
  background: #282b2e;
}
pre .keyword,
pre .literal,
pre .strong,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .css .id,
pre .tex .special {
  color: #93c763;
}
pre .number {
  color: #ffcd22;
}
pre code {
  color: #e0e2e4;
}
pre .css .tag,
pre .css .pseudo {
  color: #d0d2b5;
}
pre .attribute,
pre code .constant {
  color: #668bb0;
}
pre .xml .attribute {
  color: #b3b689;
}
pre .xml .tag .value {
  color: #e8e2b7;
}
pre .code,
pre .class .title,
pre .header {
  color: #fff;
}
pre .class,
pre .hexcolor {
  color: #93c763;
}
pre .regexp {
  color: #d39745;
}
pre .at_rule,
pre .at_rule .keyword {
  color: #a082bd;
}
pre .doctype {
  color: #557182;
}
pre .link_url,
pre .tag,
pre .tag .title,
pre .bullet,
pre .subst,
pre .emphasis,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #8cbbad;
}
pre .string {
  color: #ec7600;
}
pre .comment,
pre .java .annotation,
pre .blockquote,
pre .horizontal_rule,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #818e96;
}
pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .header,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .at_rule .keyword,
pre .status {
  font-weight: bold;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
