html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  min-width: 1220px;
}
body {
  font: 14px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  color: #444;
  background: #fff url("../images/body-bg.gif") repeat-y top center;
}
#main_wrapper {
  padding: 50px;
  margin: 0 auto;
  width: 1120px;
  overflow: hidden;
}
#main_header {
  font-size: 200%;
  padding-bottom: 40px;
}
#main_header > a {
  display: inline-block;
}
#left_pane {
  float: left;
  width: 60%;
}
#right_pane {
  float: right;
  width: 30%;
  margin-right: 3%;
  line-height: 150%;
}
#right_pane > p {
  padding: 10px 0;
}
#right_pane > ol.links {
  margin-top: 50px;
  list-style: none;
}
#right_pane > ol.links > li {
  margin-bottom: 8px;
}
a {
  color: #fd6512;
  border-bottom: 1px dashed #ae4410;
  text-decoration: none;
}
a:hover {
  border-bottom-style: dotted;
}
.article .articleHeader {
  overflow: hidden;
  font-size: 0.8em;
  margin-bottom: 35px;
}
.article .articleHeader .title {
  font-size: 2em;
  margin-bottom: 5px;
}
.article .articleHeader .date {
  margin-right: 10px;
  float: left;
}
.article .articleHeader .author {
  float: left;
}
.article .content {
  margin-bottom: 60px;
  line-height: 150%;
}
.commentsLabel {
  font-style: italic;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 35px;
}
ol.comments {
  list-style: none;
}
ol.comments li {
  margin-bottom: 35px;
}
ol.comments li .author {
  font-weight: bold;
}
ol.comments li .date {
  margin: 5px 0 5px 0;
  font-size: 0.8em;
  color: #777;
}
