.smallCaption,
.smallRef,
.article .articleHeader .meta,
ol.comments li .date {
  font-size: 0.8em;
  color: #777;
}
.errorMessage {
  color: #555;
  background: #fdc;
  line-height: 2em;
  vertical-align: middle;
  margin: 10px;
  padding: 0 10px 0 10px;
}
.smallRef {
  margin-left: 20px;
}
.article .articleHeader {
  overflow: hidden;
  margin-bottom: 20px;
}
.article .articleHeader .title {
  font-size: 2em;
  margin-bottom: 5px;
}
.article .articleHeader .meta div {
  margin-right: 15px;
  float: left;
}
.article .content {
  margin-bottom: 60px;
  line-height: 1.9em;
}
.article .content pre code {
  line-height: 1.5em;
}
.commentsLabel {
  font-style: italic;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ccc;
}
ol.comments {
  margin-top: 35px;
  list-style: none;
}
ol.comments li {
  margin-bottom: 35px;
}
ol.comments li .author {
  font-weight: bold;
}
ol.comments li .date {
  margin: 5px 0 5px 0;
}
.noComments {
  margin-top: 15px;
}
#articleEdit {
  display: block;
}
#articleEdit .inputField {
  margin-bottom: 15px;
}
#articleEdit .inputField .label {
  margin-bottom: 5px;
}
#articleEdit .inputField input {
  width: 200px;
}
#articleEdit .inputField textarea {
  width: 100%;
}
