.smallCaption,
.smallRef {
  font-size: 0.8em;
  color: #777;
}
.errorMessage {
  color: #555;
  background: #fdc;
  line-height: 2em;
  vertical-align: middle;
  margin: 10px;
  padding: 0 10px 0 10px;
}
.smallRef {
  margin-left: 20px;
}
